#passwordText, #plainText, #cipherText, #codeText {
	font-family: monospace;
	color: black;
	font-size: 14px;
	width: 555px;
}
#plainText {
	background-color: #e1ffe1;
}
#cipherText {
	background-color: #ffe1e1;
}
#codeText {
	background-color: #e1e1ff;
}
#encryptedTest {
	border: 1px solid gray;
}
#passwordText {
        background-color: #ffffe1;
        margin-bottom: 0.5em;
        padding: 3px;
}


